{% extends "base.html.twig" %}

{% block banner %}
    <!--Banner section start-->
    <div class="cy_bread_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>checkout</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- checkout section start -->
    <div class="cy_checkout_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 offset-lg-2">
                    <div class="cy_checkout_box">
                        <ul id="progressbar">
                            <li >Billing Details</li>
                            <li>Payment</li>
                            <li class="active">Receipt</li>
                        </ul>
                        <div class="woocommerce-checkout-receipt step">
                            <h1>THANK YOU FOR YOUR ORDER!</h1>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            <a href="{{path('imprimerFacture',{id:21})}}" class="cy_button">Print Receipt</a>
                            <a href="#" class="cy_button">Email Receipt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
